/*BODY*/
body
{
background-color:pink;
font-family: 'Roboto', sans-serif;
}
/*NAVBAR*/
.navbar-light .navbar-brand ,.navbar-light .navbar-nav .nav-link {
color: rgb(255,0,0);
}
.bg-light {
    background-color: gray!important;
}
#FOOTER
.x
{
background-color:gray;text-align:center;font-weight:bold;color:red;height:60px;width:100%;position:fixed;bottom:0;left:0;
}
#Heading(Category Page)
h5
{
font-weight:bold;
font-size:25px;
text-align:center;
}
#Link(Category Page)
.link
{
position:relative;
left:32%;
}

#CART
.table.table-bordered
{

border-color:gray;
}
.custom_icon
{
margin:7px;
font-size:20px;
color:blue;
}
.btn
{
width:200px;}