{% extends 'base.html' %}
{% load static %}
{% block title %}add{% endblock %}
{% block content %}
<div class="container" style="margin-bottom:100px;">
<h1>Sign Up</h1>
<form method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label  class="form-label">Username</label>
    <input type="text" class="form-control" name="u" placeholder="Enter username">
  </div>
  <div class="mb-3">
    <label  class="form-label">FirstName</label>
    <input type="text" class="form-control" name="f" placeholder="Enter firstname">
  </div>
  <div class="mb-3">
    <label  class="form-label">Lastname</label>
    <input type="text" class="form-control" name="l" placeholder="Enter Lastname">
  </div>
  <div class="mb-3">
    <label  class="form-label">email</label>
    <input type="email" class="form-control" name="e" placeholder="Enter email">
  </div>
  <div class="mb-3">
    <label  class="form-label">Password</label>
    <input type="password" class="form-control" name="p" placeholder="Enter Password">
  </div>
  <div class="mb-3">
    <label  class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="cp" placeholder="Enter Confirmpassword">
  </div>
  <div class="mb-3">

    <input type="submit" class="form-control">
  </div>

</form>
</div>
{% endblock %}